* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: #333333;
	text-decoration: none;
}

a:link {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: none;
}

a:active{
	color: #ffffff;
	text-decoration: none;
}



// ** Top navigation **
.upperNav{
	width: 100%;
	height: 30px;
	background-color: #C7B299;
	display: flex;
	justify-content: end;
	padding-right: 50px;
	padding-top: 2px;
	z-index: 4;
	position: relative;
}

.navTopIcon{
	padding-right: 5px;
	color: #333333;
}

.navTopText{
	color: #333333;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 18px;
}

// ** Main navigation **
.mainNav{
	margin-top: 1px;
	background: linear-gradient(rgba(199, 178, 153, 1), rgba(199, 178, 153, 0.3));
	display: flex;
	height: 92px;
	padding-right: 50px;
	z-index: 3;
	position: relative;
}

.mainLogoWrapper{
	margin-top: 20px;
	margin-left: 75px;
	justify-content: start;
}

.mainLogo{
	height: 66px;
	width: 283px;
}

.mainNavLink{
	color: #333333;
	font-size: 36px;
	font-weight: 600;
	margin-top: 45px;
	margin-left: auto;
	padding-right: 10px;
	display: flex;
	gap: 30px;
}

// ** Hero **

.heroWrapper{
	position: relative;
	width: 100%;
	margin-top: -123px;
	height: 836px;
	z-index: 2;
}

.heroImage{
	width: 100%;
	height: 836px;
	filter: brightness(0.8);
	z-index: 1;
}

.heroHeadline{
	position: absolute;
	left:50%;
	top:40%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 72px;
	font-weight: 600;
	text-shadow: 0 0 20px rgba(0,0,0,1);
}

.heroButton{
	background-color: #4CAF50;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	position: absolute;
	left:50%;
	top:55%;
	transform: translate(-50%, -50%);
}

.heroButton p{
	color: white;
	font-weight: 600;
	font-size: 36px;
}

.heroButton:hover{
	background-color: #C7B299;
}

.heroButton:hover #heroButtonText{
	color: #333333;
}

// ** Headlines **

.startHeadlineWrapper{
	margin-top: 10px;
	margin-right: 10%;
	margin-left: 10%;
}

.startHeadlineText{
	color: #333333;
	font-size: 2em;
	font-weight: 600;
}

.startHeadlineParagraph{
	margin-top: 10px;
	font-size: 1em;
	line-height: 1.3em;
	padding-bottom: 40px;
}

// ** Salgspunkter **
.valuePointsWrapper{
	width: 100%;
	height: 350px;
	background-color: rgba(51, 51, 51, 0.1);
	margin-bottom: 20px;
}

.valuePointsHeader{
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	color: #333333;
	padding-top: 30px;
}

.valueIconsWrap{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	margin-right: 10%;
	justify-content: space-evenly;
	margin-top: 60px;
}

.valueContent{
	width: 15%;
	margin-left: -80px;
	margin-top: 30px;
}

.valueHeadline{
	font-weight: 600;
	font-size: 1.7em;
	padding-bottom: 10px;
}

.valueParagraph{
	line-height: 1.3em;
	font-size: 1em;
}

// ** Text Content **
.textContentWrap{
	margin-right: 10%;
	margin-left: 10%;
}

.startHeadlineText{
	font-size: 1.7em;
	font-weight: 600;
}

.textContentFlex{
	display: flex;
	gap: 10%;
	margin-top: 20px;
}

.textContent{
	width: 45%;
	color: #333333;
	font-size: 1.1em;
}

.textContentImage{
	width: 45%;
	max-height: 449px;
}

.startHeadlineTextRight{
	margin-top: 60px;
	margin-left: 55%;
	font-size: 1.7em;
	font-weight: 600;
}

